.side {
    width: 70px;
    height: 30px;
    background-color:rgb(225, 83, 209);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    margin-top: -7px;
    
}


.name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name p{
    border-radius: 5px;
    background-color: rgb(225, 83, 209);
    color: white;
    width: 150px;
    height: 32px;
    font-size: 1.2rem;
    display: flex;
    justify-content:center;
    align-items: center;
    
}

.under-line{
    border-style:dashed;
    color: rgb(225, 83, 209);;
}


pre{
    text-align: center;
    font-size: 1rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif 
}

h2 {
    text-align: center;
    padding-top: 7px;
}


.mang-team {
    display: flex;
    justify-content: center;
}

.mang-team p{
    border-radius: 5px;
    background-color: rgb(225, 83, 209);
    color: white;
    width: 260px;
    height: 32px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dev-team {
    display: flex;
    justify-content: center;
}

.dev-team p{
    border-radius: 5px;
    background-color: rgb(225, 83, 209);
    color: white;
    width: 230px;
    height: 32px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.image-line1, .image-line2,
.image-line3, .image-line4,
.image-line5, .image-line6
{
    display: flex;
    padding: 20px 0px 15px;
    justify-content: space-evenly;
    align-items: center;
    text-align:center;
}

.sales-team {
    display: flex;
    justify-content: center;
}

.sales-team p{
    border-radius: 5px;
    background-color: rgb(225, 83, 209);
    color: white;  
    width: 230px;
    height: 32px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#para {
    color: rgb(233, 99, 175);
}


