* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
    background-color: rgb(185, 160, 128);
}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1{ 
	font-size: 2.5rem;
	font-weight: 560;
	margin-bottom: 1rem;
}

#new-task-form {
	display: flex;;
}

#new-task-input {
	flex:1;
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	font-size: 1.25rem;
}

#new-task-submit {
	font-size: 1.25rem;
	font-weight: 600;
    border-radius: 0.5rem;
	cursor: pointer;
    text-transform: uppercase;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.task-list {
	padding: 1rem;
}

.task-list h2 {
	font-size: 1.5rem;
	font-weight: 550;
	margin-bottom: 1rem;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	border-radius: 1.5px;
    margin-bottom: 1rem;
}

.task .content {
	flex: 1;
}

.task .content .text {
	font-size: 1.125rem;
	width: 100%;
	display: block;
    color: chocolate;
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 1rem;
	font-size: 1.125rem;
	font-weight: 600;
	text-transform: uppercase;
}

.edit {
	color:aquamarine;
}

.delete {
	color: crimson;
}

